# Imports

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
# custom parameters
pd.set_option('display.max_columns', None)

# csv -> parquet 확장자 변환

csv file로 불러오기

In [3]:
# # 신규가입자합산 정보
# df_newb = pd.read_csv('./data/원본/신규가입자합산값.csv')

# # 대여이력 정보
# df_rental22 = pd.read_csv('./data/원본/대여이력정보(일별)_2207-12.csv ')
# df_rental23 = pd.read_csv('./data/원본/대여이력정보(일별)_2307-12.csv')

# # 고장신고내역
# df_broken22 = pd.read_csv('./data/원본/고장신고내역(일별)_2207-12.csv')
# df_broken23 = pd.read_csv('./data/원본/고장신고내역(일별)_2307-12.csv')

대여이력 정보와 고장신고내역 각각 하나의 데이터프레임으로 병합

In [4]:
# df_rental = pd.concat([df_rental22, df_rental23], axis=0)
# df_broken = pd.concat([df_broken22, df_broken23], axis=0)

parquet 파일로 확장자 변환

In [5]:
# # pip3 install pyarrow
# # pip3 install fastparquet
# df_newb.to_parquet('./data/원본/parquet/신규가입자정보.parquet', engine='pyarrow', index=False)
# df_rental.to_parquet('./data/원본/parquet/대여이력정보.parquet', engine='pyarrow', index=False)
# df_broken.to_parquet('./data/원본/parquet/고장신고내역.parquet', engine='pyarrow', index=False)

# 데이터 불러오기

In [6]:
df_newb = pd.read_parquet('./data/원본/parquet/신규가입자정보.parquet', engine='pyarrow')
df_rental = pd.read_parquet('./data/원본/parquet/대여이력정보.parquet', engine='pyarrow')
df_broken = pd.read_parquet('./data/원본/parquet/고장신고내역.parquet', engine='pyarrow')

신규가입자 정보

In [7]:
df_newb

      가입일시   가입건수  year
0   202207  56393  2022
1   202208  53853  2022
2   202209  81574  2022
3   202210  62511  2022
4   202211  36600  2022
5   202212  11530  2022
6   202307  42649  2023
7   202308  41346  2023
8   202309  61111  2023
9   202310  66836  2023
10  202311  21743  2023
11  202312  13344  2023

대여이력 정보

내용이 너무 많아서 20%만 샘플링해서 진행

In [8]:
df_rental = df_rental.sample(frac=0.2, random_state=3)
df_rental

,자전거번호,대여일시,대여 대여소번호,대여 대여소명,대여거치대,반납일시,반납대여소번호,반납대여소명,반납거치대,이용시간(분),이용거리(M),생년,성별,이용자종류,대여대여소ID,반납대여소ID,자전거구분
19030019,SPB-39992,2022-11-10 23:09:05,1124,발산역 6번 출구 뒤,0,2022-11-11 00:46:01,00162,봉원고가차도 밑,0,96,14120.01,1975,F,내국인,ST-522,ST-219,None
16698934,SPB-39988,2022-10-26 17:00:50,3571,화양 APT(횡단보도 옆),0,2022-10-26 17:14:44,03569,건대병원후문,0,13,1030.44,2002,\N,내국인,ST-2310,ST-2308,None
8710569,SPB-50825,2022-09-06 19:17:39,1158,가양역 8번출구,0,2022-09-06 19:24:06,01182,KBS 스포츠월드,0,6,887.81,1991,\N,내국인,ST-1249,ST-1519,None
1929187,SPB-52800,2022-07-15 06:54:34,720,서울강월초등학교 앞,0,2022-07-15 07:36:49,01102,방화사거리 마을버스 버스정류장,0,42,7356.28,1989,F,내국인,ST-432,ST-508,None
20404772,SPB-53662,2022-11-21 12:56:34,1440,면목2동 사거리,0,2022-11-21 13:50:41,01440,면목2동 사거리,0,54,0.00,1989,F,내국인,ST-942,ST-942,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23659877,SPB-63489,2023-07-03 11:28:50,1195,코오롱One&Only타워,0,2023-07-03 11:34:48,02715,마곡나루역 2번 출구,0,5,900.00,1998,\N,내국인,ST-1712,ST-2031,일반자전거
7463799,SPB-44935,2022-08-27 17:40:58,1246,문정 법조단지10,0,2022-08-27 17:43:28,01246,문정 법조단지10,0,2,0.00,1998,\N,내국인,ST-906,ST-906,None
20011494,SPB-65752,2022-11-18 15:11:09,755,목동1단지아파트 상가 앞,0,2022-11-18 15:20:01,00769,CBS방송국 앞,0,8,1450.00,1972,\N,내국인,ST-1496,ST-1995,None
25300035,SPB-65234,2023-07-16 22:09:31,3534,건대입구역 5번출구 뒤,0,2023-07-16 22:23:25,03575,자양사거리(서원빌딩),0,13,1180.00,1989,F,내국인,ST-1661,ST-2314,일반자전거
3434788,SPB-56181,2022-07-25 19:55:52,4531,목동아파트 613동 앞,0,2022-07-25 20:39:35,00255,도림사거리,0,43,5930.00,1967,F,내국인,ST-2844,ST-303,None

고장신고내역

In [9]:
df_broken

            자전거번호                 등록일시 고장구분
0       SPB-30229  2022-07-01 00:44:33   페달
1       SPB-40134  2022-07-01 00:57:59   페달
2       SPB-40789  2022-07-01 01:08:25   안장
3       SPB-50932  2022-07-01 01:09:33   체인
4       SPB-41175  2022-07-01 01:13:06   안장
...           ...                  ...  ...
194724  SPB-60450  2023-12-31 23:00:11   체인
194725  SPB-30500  2023-12-31 23:29:38   안장
194726  SPB-30500  2023-12-31 23:29:38  기타
194727  SPB-30224  2023-12-31 23:49:38   체인
194728  SPB-47511  2023-12-31 23:56:45   안장

[194729 rows x 3 columns]

# EDA

**확인해야 할 것들:**  

1. 데이터타입 -> 날짜 데이터 datetime / period 로 변환
2. 중복값 -> 고장신고내역 중복값 하나 제거
3. 결측치 -> 성별, 자전거구분, 대여거치대, 반납거치대
4. 추상화 -> 성별 제거, 나이는 만14세 이상 64세 이하로, 외국인 제거, 대여소번호/명 및 반납대여소번호/명 제거, 이용거리 제거
5. 파생변수 -> 생년을 나이로 변환
5. 수치형 / 범주형 분류  
6. 시각화 및 분포 확인  

! 각 단계에서 값들의 형태는 확인하면서 할 것

날짜 데이터 변환
1. 신규가입자정보 날짜 들여다보기 쉽게 `가입일시` period로 변환, year 컬럼 제거 -> 나중에 `.year` 또는 `.month` 로 년월 호출 가능
2. 대여이력정보 `대여일시` datetime으로 변환
3. 고장신고내역 `등록일시` datetime으로 변환

In [45]:
# 가입일시 period 데이터타입 변환
df_newb['가입일시'] = (
    df_newb['가입일시']
    .astype('str')
    .apply(lambda x: x[:4] + '-' + x[4:])
    .apply(lambda x: pd.to_datetime(x)).dt.to_period('M')
)
# year 컬럼 제거
df_newb.drop(columns=['year'], inplace=True)

In [46]:
# 대여이력정보 대여일시 datetime 데이터타입 변환
df_rental['대여일시'] = pd.to_datetime(df_rental['대여일시'])
# 고장신고내역 등록일시 datetime 데이터타입 변환
df_broken['등록일시'] = pd.to_datetime(df_broken['등록일시'])

In [47]:
print(f"{df_newb['가입일시'].dtype = }")
print(f"{df_rental['대여일시'].dtype = }")
print(f"{df_broken['등록일시'].dtype = }")

df_newb['가입일시'].dtype = period[M]
df_rental['대여일시'].dtype = dtype('<M8[ns]')
df_broken['등록일시'].dtype = dtype('<M8[ns]')

중복값 확인해보기

In [48]:
print(df_newb[df_newb.duplicated()].shape)
print(df_rental[df_rental.duplicated()].shape)
print(df_broken[df_broken.duplicated()].shape)

(0, 2)
(0, 17)
(1, 3)

고장신고내역 중복값 확인 및 제거

In [49]:
df_broken[df_broken.duplicated(keep=False)]

          자전거번호                등록일시 고장구분
2490  SPB-60114 2022-07-04 21:48:38   체인
2491  SPB-60114 2022-07-04 21:48:38   체인

In [50]:
df_broken = df_broken[~df_broken.duplicated()]

결측치 확인 및 제거

확인해본 결과 대여이력정보에 \N 으로 저장된 결측치 값들 도 너무 많아서 결측치 다시 시작

In [51]:
df_rental.replace('\\N', np.nan, inplace=True)

In [52]:
print(f"신규가입자 결측치:\n    NaN: {df_newb.isna().sum().sum()}")
print(f"대여이력정보 결측치:\n    NaN: {df_rental.isna().sum().sum()}")
print(f"고장신고내역 결측치:\n    NaN: {df_broken.isna().sum().sum()}")

신규가입자 결측치:
    NaN: 0
대여이력정보 결측치:
    NaN: 8540041
고장신고내역 결측치:
    NaN: 0

In [53]:
rental_na = df_rental.isna().sum()
rental_na_ratio = (rental_na / len(df_rental))
df_rental_na = pd.DataFrame({
    'NA (count)': rental_na,
    'NA (ratio)': rental_na_ratio
})
df_rental_na = df_rental_na[df_rental_na['NA (count)'] > 0]
df_rental_na

         NA (count)  NA (ratio)
반납대여소번호       39681    0.004188
반납대여소명        39681    0.004188
반납거치대         40792    0.004305
생년           742090    0.078320
성별          2972956    0.313767
반납대여소ID       39681    0.004188
자전거구분       4665160    0.492362

자전거구분은 자전거 크기의 차이이며 요금 인상과 관련 없을 것 같다.

In [54]:
df_rental['자전거구분'].value_counts()

자전거구분
일반자전거    4676122
새싹자전거     133773
Name: count, dtype: int64

In [55]:
df_rental.drop(columns=['자전거구분'], inplace=True)

성별의 차이도 요금 인상과 큰 상관은 없을 것 같다.

In [56]:
df_rental['성별'].value_counts()

성별
M    4033854
F    2466389
m       1295
f        561
Name: count, dtype: int64

In [57]:
df_rental['성별'] = df_rental['성별'].str.upper()

In [58]:
df_rental.loc[df_rental['성별'].isna()].head(3)

,자전거번호,대여일시,대여 대여소번호,대여 대여소명,대여거치대,반납일시,반납대여소번호,반납대여소명,반납거치대,이용시간(분),이용거리(M),생년,성별,이용자종류,대여대여소ID,반납대여소ID
16698934,SPB-39988,2022-10-26 17:00:50,3571,화양 APT(횡단보도 옆),0,2022-10-26 17:14:44,03569,건대병원후문,0,13,1030.44,2002,NaN,내국인,ST-2310,ST-2308
8710569,SPB-50825,2022-09-06 19:17:39,1158,가양역 8번출구,0,2022-09-06 19:24:06,01182,KBS 스포츠월드,0,6,887.81,1991,NaN,내국인,ST-1249,ST-1519
29147416,SPB-62769,2023-08-14 22:55:09,2219,"고속터미널역 8-1번, 8-2번 출구 사이",0,2023-08-14 22:56:41,02525,반포쇼핑타운 2동 앞,0,1,0.00,1992,NaN,내국인,ST-750,ST-1910

In [59]:
df_rental.drop(columns=['성별'], inplace=True)

반납거치대를 확인했을 때 자전거구분과 연관된 자전거 종류별 거치대라 필요없을 것 같다. 그렇다면 대여거치대도 마찬가지로 필요가 없어서 같이 제거.

In [60]:
df_rental[['대여거치대', '반납거치대']].value_counts()

대여거치대  반납거치대
0      0        9141088
99     99        291562
       0           1280
0      99           333
Name: count, dtype: int64

In [61]:
df_rental.drop(columns=['대여거치대', '반납거치대'], inplace=True)

외국인 데이터 제거

In [62]:
df_rental_foreigners = df_rental.loc[df_rental['이용자종류'] == '외국인'].index
df_rental.drop(index=df_rental_foreigners, inplace=True)

`반납대여소번호`, `반납대여소명`은 제거.
 
`반납대여소ID`는 결측치를 '분실'로 처리.

반납이 되었는지 확인해야 고장신고 데이터와 비교할 수 있으며, 요금 인상으로 증가할만한 나이대로 추리를 할 수 있기 때문에 생년도 필요한다. 
`반납대여소ID`는: `반납일시`가 있는데 `반납대여소ID`가 없는 경우에는 분실로 처리해야하기 때문에 `반납대여소ID` 제외하고 데이터가 너무 많아서 반납대여소번호, 반납대여소명은 열을 처리.

대여소 마스터 정보로 대여소ID만 있으면 지역을 찾을 수 있다. 대여소명은 애초에 대여소명이라 지역을 추출하기가 어렵기 때문에 제거, 번호도 마찬가지의 이유로 -> `대여 대여소번호`, `대여 대여소명`, `반납대여소 번호`, `반납대여소명` 제거.

In [63]:
# 반납대여소번호, 반납대여소명 결측치 열을 처리
df_rental.drop(columns=['반납대여소번호', '반납대여소명'], inplace=True)
# 반납대여소ID 결측치 '분실'로 대체
df_rental['반납대여소ID'].fillna(value='분실', inplace=True)

생년 결측치는 행을 제거

In [64]:
# 생년은 결측치 행을 처리
df_rental.dropna(subset=['생년'], how='any', axis=0, inplace=True)

파생 변수: `생년` 컬럼 `나이`로 변환 및 `생년` 컬럼 제거

In [65]:
# 나이(만) 컬럼 생성
age = df_rental['대여일시'].dt.year - df_rental['생년'].astype('int')
df_rental['나이(만)'] = age

# 생년 컬럼 제거
df_rental.drop(columns=['생년'])

,자전거번호,대여일시,대여 대여소번호,대여 대여소명,반납일시,이용시간(분),이용거리(M),이용자종류,대여대여소ID,반납대여소ID,나이(만)
19030019,SPB-39992,2022-11-10 23:09:05,1124,발산역 6번 출구 뒤,2022-11-11 00:46:01,96,14120.01,내국인,ST-522,ST-219,47
16698934,SPB-39988,2022-10-26 17:00:50,3571,화양 APT(횡단보도 옆),2022-10-26 17:14:44,13,1030.44,내국인,ST-2310,ST-2308,20
8710569,SPB-50825,2022-09-06 19:17:39,1158,가양역 8번출구,2022-09-06 19:24:06,6,887.81,내국인,ST-1249,ST-1519,31
1929187,SPB-52800,2022-07-15 06:54:34,720,서울강월초등학교 앞,2022-07-15 07:36:49,42,7356.28,내국인,ST-432,ST-508,33
20404772,SPB-53662,2022-11-21 12:56:34,1440,면목2동 사거리,2022-11-21 13:50:41,54,0.00,내국인,ST-942,ST-942,33
...,...,...,...,...,...,...,...,...,...,...,...
23659877,SPB-63489,2023-07-03 11:28:50,1195,코오롱One&Only타워,2023-07-03 11:34:48,5,900.00,내국인,ST-1712,ST-2031,25
7463799,SPB-44935,2022-08-27 17:40:58,1246,문정 법조단지10,2022-08-27 17:43:28,2,0.00,내국인,ST-906,ST-906,24
20011494,SPB-65752,2022-11-18 15:11:09,755,목동1단지아파트 상가 앞,2022-11-18 15:20:01,8,1450.00,내국인,ST-1496,ST-1995,50
25300035,SPB-65234,2023-07-16 22:09:31,3534,건대입구역 5번출구 뒤,2023-07-16 22:23:25,13,1180.00,내국인,ST-1661,ST-2314,34
3434788,SPB-56181,2022-07-25 19:55:52,4531,목동아파트 613동 앞,2022-07-25 20:39:35,43,5930.00,내국인,ST-2844,ST-303,55

나이 컬럼 만14세 ~ 64세까지 포함 그 외는 제거 -> 14세 이하는 부모님 관여가 필요하고 65세 이상은 대중교통이 무료라 주제와 관련 없을 것이라 판단

In [66]:
# 나이 범위 확인
all_ages = df_rental['나이(만)'].value_counts().index
print(f"가장 나이 많은 대여자: {all_ages.max()}")
print(f"가장 나이 적은 대여자: {all_ages.min()}")

가장 나이 많은 대여자: 2023
가장 나이 적은 대여자: -77

In [67]:
# 14세 미만 64세 초과 제거
uneeded_ages = df_rental.loc[(df_rental['나이(만)'] < 14) | (df_rental['나이(만)'] > 64)].index
df_rental.drop(index=uneeded_ages, inplace=True)

# 나이 범위 다시 확인
all_ages = df_rental['나이(만)'].value_counts().index
print(f"가장 나이 많은 대여자: {all_ages.max()}")
print(f"가장 나이 적은 대여자: {all_ages.min()}")

가장 나이 많은 대여자: 64
가장 나이 적은 대여자: 14

이용시간(분), 이용거리(M),

In [68]:
df_rental.columns

Index(['자전거번호', '대여일시', '대여 대여소번호', '대여 대여소명', '반납일시', '이용시간(분)', '이용거리(M)',
       '생년', '이용자종류', '대여대여소ID', '반납대여소ID', '나이(만)'],
      dtype='object')

이용거리 0 확인 또는 이용거리 너무 크거나 하면 관리자가 오류라고 함, 일단 재배치 또는 수리하기 위함임

0~191031.81 이 있는데 낮은 거리는 0만 있는게 아니라 0.10, 0.13과 같은 애매한 낮은 수치도 존재하기 때문에 IQR사용해서 이상치 행 제거

평균 지하철 역간의 거리를 보았을 때 1km미터 정도 돼서 그 이하는 제거.

In [69]:
less_than_1km = df_rental['이용거리(M)'] <= 1000
greater_than_10km = df_rental['이용거리(M)'] >= 15000
outlier_distance = df_rental.loc[less_than_1km | greater_than_10km].index
df_rental.drop(index=outlier_distance)['이용거리(M)'].value_counts().sort_index()

이용거리(M)
1000.01     25
1000.02     19
1000.03     18
1000.04     27
1000.05     46
            ..
14999.42     1
14999.53     1
14999.67     1
14999.83     1
14999.90     1
Name: count, Length: 679156, dtype: int64

In [70]:
less_than_5min = df_rental['이용시간(분)'] <= 5
greater_than_60min = df_rental['이용시간(분)'] >= 60
outlier_time = df_rental.loc[less_than_5min | greater_than_60min].index
df_rental.drop(index=outlier_time)['이용시간(분)'].value_counts().sort_index()

이용시간(분)
6     498855
7     453848
8     409239
9     366878
10    334709
11    293606
12    261679
13    231428
14    207225
15    187088
16    168094
17    152777
18    138542
19    126651
20    117661
21    105843
22     98295
23     90904
24     84612
25     79464
26     74213
27     69838
28     66136
29     62038
30     60693
31     55961
32     53864
33     51672
34     49453
35     47784
36     45716
37     44165
38     42938
39     41546
40     41032
41     39142
42     38184
43     36660
44     36147
45     35945
46     34376
47     33461
48     32889
49     32137
50     34514
51     31190
52     31970
53     31912
54     31833
55     31323
56     30115
57     28559
58     26672
59     23723
Name: count, dtype: int64

In [71]:
df_rental.columns

Index(['자전거번호', '대여일시', '대여 대여소번호', '대여 대여소명', '반납일시', '이용시간(분)', '이용거리(M)',
       '생년', '이용자종류', '대여대여소ID', '반납대여소ID', '나이(만)'],
      dtype='object')

대여소 마스터 정보로 대여소ID만 있으면 지역을 찾을 수 있다. 대여소명은 애초에 대여소명이라 지역을 추출하기가 어렵기 때문에 제거, 번호도 마찬가지의 이유로 -> `대여 대여소번호`, `대여 대여소명`, `반납대여소 번호`, `반납대여소명` 제거.

대여량이 증가했는지가 주제에 맞는 내용이라 `반납일시`는 제거.

마지막으로 이용시간은 원래 반납해야하는 시간 내에 반납을 했는지 중요하지만 이용거리는 한계치가 없기 때문에 `이용거리(M)` 제거.

마지막으로 모든 결측치 이상치 제거해서 -> 지워야할 열들이:

대여 대여소번호, 대여 대여소명, 반납일시, 이용시간(분), 이용거리(M), 생년

In [81]:
# 대여소ID 제외하고 대여소 관련 정보 제거
df_rental.drop(columns=['대여 대여소번호', '대여 대여소명', '반납일시'], inplace=True)

# 가공데이터에 파일들 저장

In [82]:
# CSV 확장자로 가공데이터 폴더에 저장
# df_newb.to_csv('./data/가공데이터/신규가입자정보.csv', index=False)
# df_rental.to_csv('./data/가공데이터/대여이력정보.csv', index=False)
# df_broken.to_csv('./data/가공데이터/고장신고내역.csv', index=False)

# 기술통계

In [83]:
# 자전거 이용 만족도
# df = pd.read_excel('./data/원본/자전거+이용환경+만족도_20240828141848.xlsx', header=[0, 1])
# df